.footer{
	margin-top: 32px;
	background-color: #e2e4e2;
	font-size: 10px;
	
}

.footer__content {
	padding-top: 140px;
	display: flex;
	justify-content: space-around;
	height: 300px;
	
}

.shape_5 {
  background-color: rgb(5, 58, 202);
  position: relative;
  left: 190px;
  top: -190px;
  width: 70.4%;
  height: 2px;
  z-index: 129;
  
}




.info{
	
	text-align: center;
	position: relative;
	top: -130px;
	padding-left: 21.5%;
	
	

}

.copyright{
	font-family: "Kozuka Gothic Pr6N";
	text-align: center;
	color: rgb(0, 0, 0);
	padding-left: 21.5%;
}

.sns{
	background-color: #e2e4e2;
	display: flex;
	position: relative;
	float: right;
	padding-right: 14%;
	top: -115px;
	
}
