.contentfooter{
	margin-left:10%; 
	margin-right:10%;
	margin-top: 50px;
	margin-bottom: 50px;

}

.sns{
	justify-content: space-around;
	display: flex;
}
.customerservices{
	padding-top: 50px;
	margin-top: 50px;
	border-top: 1px solid black;
	display: flex;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}

.customerservices p{
	font-size: 1.4em;
	color: black;
}

.newsletterbox{
	width:50%;
	font-family: "minimal";
	padding-bottom: 16px;
	border:1px solid #a6a6a6 ;
	padding-top: 16px;
	text-align: center;
}
.customerservices button{
	width: 80px;
	margin-top: 4px;
	color: black;
	font-size: 1.5em;
	background-color: #a6a6a6;
	border-radius: 4px;
}
.customerservices button:hover{
	color: white;
	background-color: black;
}

.inquiry{
	width:50%;
	font-family: "minimal";
	padding-bottom: 16px;
	border:1px solid #a6a6a6 ;
	padding-top: 16px;
	text-align: center;
}
.inquiry a:hover{
	color: black;
	text-decoration: line-through;

}
ul.drop{
	display: none;
}
ul.drop li:hover{
	text-decoration: line-through;
}
li{
	list-style-type: none;
}
li:hover > ul.drop{
	display: block;
}
li:hover > ul.drop li{

	opacity: 0;
	animation: mymove 500ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes mymove{
	0%{
		opacity:0;
		transform: rotateY(-90deg);

		}
	100%{
		opacity:1;
		transform: rotateY(0deg);
	}
}

.copyright{
	margin-top: 33px;
	font-size:0.5em;
	text-align:center;
	color:;

}


